aiogram==2.11.2
aiohttp==3.7.2
async-timeout==3.0.1
asyncio==3.4.3
attrs==20.3.0
Babel==2.8.0
beautifulsoup4==4.9.3
certifi==2020.6.20
chardet==3.0.4
config==0.5.0.post0
DateTime==4.3
idna==2.10
multidict==5.0.0
pip==20.2.4
psycopg2==2.8.6
psycopg2-binary==2.8.6
pyTelegramBotAPI==3.7.3
pytz==2020.4
requests==2.7.0
six==1.15.0
soupsieve==2.0.1
telebot==0.0.3
typing-extensions==3.7.4.3
urllib3==1.25.11
yarl==1.6.2
zope.interface==5.2.0
